extends layout

block content
    .registrants-page
        if registrations.length
            table.registrants-table
                tr
                    th Name
                    th Email
                each registration in registrations
                    tr
                        td= registration.name
                        td= registration.email
        else
            p No registrations yet :(
